{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{.Container.Title}}</title>
    <meta name="viewport" content="device-width" />

    <link rel="stylesheet" type="text/css" href="/css/default.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <header role="banner">
                    <h1>{{.Container.Title}}</h1>
                </header>
            </div>
        </div>

        <div class="row">
            <div class="column">
                {{template "content" .}}
            </div>
        </div>

        <div class="row">
            <div class="column">
                <footer>Journal v{{.Container.Version}}</footer>
            </div>
        </div>

    </div>

    <script src="/js/default.min.js"></script>
</body>
</html>
{{end}}
