{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{.Container.Configuration.Title}}</title>
    <meta name="viewport" content="device-width" />

    <link rel="stylesheet" type="text/css" href="/css/default.min.css" />
</head>
<body>
    <header role="banner">
        <h1><a href="/">{{.Container.Configuration.Title}}</a></h1>
        {{if .Container.Configuration.EnableCreate}}
            <p class="float-right"><a class="button" href="/new">Create New Post</a></p>
        {{end}}
    </header>
    <main role="main">
        <div id="content">
            {{template "content" .}}
        </div>
    </main>
    <footer role="contentinfo">Journal v{{.Container.Version}}</footer>
    <script src="/js/default.min.js"></script>
</body>
</html>
{{end}}
