{{define "content"}}

{{if .Saved}}
    <div class="saved">Journal saved.</div>
{{end}}

{{range .Journals}}
    <article>
        <h2>{{.Title}}</h2>
        <p>Posted on <strong>{{.GetDate}}</strong><br /><a href="/{{.Slug}}">View Post</a></p>
    </article>
{{end}}

<p><a class="button" href="/new">Create New Post</a></p>
{{end}}
