{{define "content"}}

{{if .Saved}}
    <div class="saved">Journal saved.</div>
{{end}}

<p><a class="button" href="/new">Create New Post</a></p>

{{range .Journals}}
    <article>
        <h2>{{.Title}}</h2>
        <p>
            Posted on <strong>{{.GetDate}}</strong><br />
            <a href="/{{.Slug}}">View</a>
            |
            <a href="/{{.Slug}}/edit">Edit</a>
        </p>
    </article>
{{end}}
{{end}}
