{{define "title"}}Calendar - {{end}}
{{define "content"}}

<div id="calendar">
    <nav class="calendar-top">
        <h2>2025</h2>
        <a href="/calendar/2024">2024</a>
    </nav>
    <nav class="calendar-top">
        <h2>May</h2>
        <a href="/calendar/2025/apr">April</a>
        <a href="/calendar/2025/jun">June</a>
    </nav>

    <table class="calendar">
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    <h3>1</h3>
                </td>
                <td>
                    <h3>2</h3>
                </td>
                <td>
                    <h3>3</h3>
                </td>
                <td>
                    <h3>4</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>5</h3>
                </td>
                <td>
                    <h3>6</h3>
                </td>
                <td>
                    <h3>7</h3>
                </td>
                <td>
                    <h3>8</h3>
                </td>
                <td>
                    <h3>9</h3>
                </td>
                <td>
                    <h3>10</h3>
                </td>
                <td>
                    <h3>11</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>12</h3>
                </td>
                <td>
                    <h3>13</h3>
                </td>
                <td>
                    <h3>14</h3>
                </td>
                <td>
                    <h3>15</h3>
                </td>
                <td>
                    <h3>16</h3>
                </td>
                <td>
                    <h3>17</h3>
                </td>
                <td>
                    <h3>18</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>19</h3>
                </td>
                <td>
                    <h3>20</h3>
                </td>
                <td>
                    <h3>21</h3>
                </td>
                <td>
                    <h3>22</h3>
                </td>
                <td>
                    <h3>23</h3>
                </td>
                <td>
                    <h3>24</h3>
                    <a href="/big-mouth">Big Mouth</a>
                </td>
                <td>
                    <h3>25</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>26</h3>
                </td>
                <td>
                    <h3>27</h3>
                </td>
                <td>
                    <h3>28</h3>
                </td>
                <td>
                    <h3>29</h3>
                </td>
                <td>
                    <h3>30</h3>
                </td>
                <td>
                    <h3>31</h3>
                </td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>


{{end}}
