{{define "title"}}{{end}}
{{define "content"}}

{{if .Saved}}
    <div class="saved">Journal saved.</div>
{{end}}

{{$enableEdit := .Container.Configuration.EnableEdit}}
{{range .Journals}}
    <article>
        <h1><a href="/{{.Slug}}">{{.Title}}</a></h1>
        <p class="date">
            Posted on {{.GetDate}}
            {{if $enableEdit}}<span class="float-right"><a href="/{{.Slug}}/edit" class="button button-outline">Edit</a></span>{{end}}
        </p>
        <div class="summary">
            <p>{{.GetExcerpt}}</p>
            <p><a href="/{{.Slug}}">Read More</a></p>
        </div>
    </article>
{{end}}

{{if gt .Pagination.TotalPages 1}}
    <nav class="pagination">
        <ol>
            {{if .Pagination.ShowLeft}}<li class="first">1 ...</li>{{end}}
            {{$currentPage := .Pagination.CurrentPage}}
            {{range .Pages}}
                <li class="{{if eq . $currentPage}}current{{end}}">
                    <a href="/?page={{.}}">{{.}}</a>
                </li>
            {{end}}
            {{if .Pagination.ShowRight}}<li class="last">... {{.Pagination.TotalPages}}</li>{{end}}
        </ol>
    </nav>
{{end}}

{{end}}
