{{define "content"}}

{{if .Saved}}
    <div class="saved">Journal saved.</div>
{{end}}

<p class="float-right"><a class="button" href="/new">Create New Post</a></p>

{{range .Journals}}
    <article>
        <div class="date">
            <span class="weekday">{{.GetDayOfWeek}}</span>
            <span class="day">{{.GetDay}}</span>
            <span class="month">{{.GetMonth}}</span>
            <span class="year">{{.GetYear}}</span>
        </div>
        <h2><a href="/{{.Slug}}">{{.Title}}</a></h2>
        <p>
            <a href="/{{.Slug}}" class="button">View</a>
            <a href="/{{.Slug}}/edit" class="button button-outline">Edit</a>
        </p>
    </article>
{{end}}
{{end}}
