{{define "content"}}

{{if .Saved}}
    <div class="saved">Journal saved.</div>
{{end}}

{{if .Container.Configuration.EnableCreate}}
<p class="float-right"><a class="button" href="/new">Create New Post</a></p>
{{end}}

{{$enableEdit := .Container.Configuration.EnableEdit}}
{{range .Journals}}
    <article>
        <div class="date">
            <span class="weekday">{{.GetDayOfWeek}}</span>
            <span class="day">{{.GetDay}}</span>
            <span class="month">{{.GetMonth}}</span>
            <span class="year">{{.GetYear}}</span>
        </div>
        <h2><a href="/{{.Slug}}">{{.Title}}</a></h2>
        <p>
            <a href="/{{.Slug}}" class="button">View</a>
            {{if $enableEdit}}<a href="/{{.Slug}}/edit" class="button button-outline">Edit</a>{{end}}
        </p>
    </article>
{{end}}

{{if gt .Pagination.TotalPages 1}}
    <nav class="pagination">
        <ol>
            {{$currentPage := .Pagination.Page}}
            {{range .Pages}}
                <li class="{{if eq . $currentPage}}current{{end}}">
                    <a href="/?page={{.}}">{{.}}</a>
                </li>
            {{end}}
        </ol>
    </nav>
{{end}}

{{end}}
