{{define "title"}}Create New Post - {{end}}
{{define "content"}}
<h2 class="form-title">New Post</h2>

{{if .Error}}
    <div class="error">Make sure all the fields are filled in before saving.</div>
{{end}}

{{template "form" .}}
{{end}}
