{{define "content"}}
<article class="view">
    <h2>{{.Journal.Title}}</h2>
    <h3>
        Posted on {{.Journal.GetDate}}
        {{if .Container.Configuration.EnableEdit}}<p class="float-right"><a href="/{{.Journal.Slug}}/edit" class="button button-outline">Edit</a></p>{{end}}
    </h3>
    <div class="content">
        {{.Journal.Content}}
    </div>
</article>

{{if or .Next.ID .Prev.ID}}
    <nav class="prev-next">
        {{if .Prev.ID}}
            <div class="prev">
                <span>Previous</span>
                <a href="/{{.Prev.Slug}}">{{.Prev.Title}}</a>
            </div>
        {{end}}
        {{if .Next.ID}}
            <div class="next">
                <span>Next</span>
                <a href="/{{.Next.Slug}}">{{.Next.Title}}</a>
            </div>
        {{end}}
    </nav>
{{end}}
{{end}}
