{{define "content"}}
<article>
    <h2>{{.Journal.Title}}</h2>
    <p>Posted on: <strong>{{.Journal.GetDate}}</strong></p>
    {{.Journal.Content}}
</article>

<p><a href="/{{.Journal.Slug}}/edit">Edit</a></p>
<p><a href="/">Back</a></p>
{{end}}
