$tablet: 768px;
$max: 700px;

$headingColour: #000;
$linkColour: #000;
$textColour: #000;
$footerColour: #777;
$borderColour: #111;
$buttonColour: #222;
$buttonHoverColour: #767676;
$buttonLightColour: #ddd;
$formColour: #333;