{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Jamie's Journal</title>
    <meta name="viewport" content="device-width" />

    <link rel="stylesheet" type="text/css" href="/css/default.min.css" />
</head>
<body>
    <div id="container">
        <header role="banner">
            <h1>Jamie's Journal</h1>
        </header>
{{end}}
